* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Metal Mania", sans-serif;
}

html, body {
    height: 100%;
}

.d-none {
    display: none;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: linear-gradient(rgba(5,7,12,0.37), rgba(5,7,12,0.37)) ,url("img/rock-and-roll-background.jpg") no-repeat center center fixed;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #191919;
    color: #fff;
    height: 130px;
    font-size: 50px;
    padding: 10px;
    text-shadow: 2px 2px 2px #999;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.logo {
    width: 110px;
    position: absolute;
    right: 1270px;
    border-radius: 50%;
}

.bandas {
    width: 160px;
    position: absolute;
    left: 1220px;
}

.main-container-carrito {
    background-color: #111213;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 2px solid #444;
    border-radius: 16px;
    width: 550px;
    box-shadow: rgba(0, 0, 0, .8) 0px 0px 15px;
    padding: 4px;
    max-height: 95vh;
    overflow: auto;
}

.boton-cerrar {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 30px;
    background-color: #a52a2a;
    color: #fff;
    border: 1px solid #111213bd;
    border-radius: 16px;
    transition: .3s;
    cursor: pointer;
}

.boton-cerrar:hover {
    background: #fff;
    color: #a52a2a;
}

.carrito-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.541);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.mostrar-carrito {
    opacity: 1;
    pointer-events: unset;
}

.abrir-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-left: 1370px;
    margin-bottom: 115px;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #111213;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, .8) 0px 0px 15px;
    color: #a52a2a;
    font-size: 25px;
    transition: .3s;
    cursor: pointer;
}

.abrir-carrito:hover {
    background: #a52a2a;
    color: #fff;
}

.tu-carrito {
    border-radius: 16px;
    background: #a52a2a;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(90, 123, 173, .15);
    font-size: 55px;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 3px #444;
}

.cuerpo-carrito{
    display: block;
    justify-content: flex-start;
    margin-top: 5px;
    margin-left: 5px;
    padding: 6px;
    color: #eee;
    font-size: 28px;
    font-weight: 350;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .85);
}

#carrito_vacio {
    font-size: 17px;
}

.recomendaciones-carrito {
    display: block;
    position: relative;
    bottom: 0;
    margin-bottom: 20px;
}

.recomendaciones-carrito h6 {
    margin-bottom: 15px;
}

.producto {
    display: flex;
    background: #fff;
    color: #000;
    margin-top: 2px;
    margin-bottom: 7px;
    border: 1px solid rgba(0, 0, 0, .85);
    border-radius: 16px;
    font-size: 17px;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    gap: 20px;
}

.producto span {
    flex: 2;
}

.producto strong {
    font-weight: 200;
}

.producto p {
    margin-right: 5px;
}

.agregar-sacar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a52a2a;
    color: #fff ;
    border: 1px solid #222222;
    border-radius: 25%;
    padding: 6px;
    cursor: pointer;
    transition: .3s;
}

.agregar-sacar:hover {
    background: #fff;
    color: #a52a2a;
}

#agregados-carrito {
    display: block;
}

li {
    list-style: none;
}

.compras-carrito {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.total-carrito {
    margin-bottom: 15px;
}

.contenedor-producto-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    margin: 20px auto; 
    max-width: 1200px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.producto-detail {
    flex: 1 1 300px; 
    max-width: 300px;
    min-height: 380px;
    max-height: 380px;
    box-shadow: rgba(0, 0, 0, .8) 0px 0px 7px;
    background-color: #fff;
    height: auto; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.producto-detail-footer {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    justify-content: space-between;
    padding: 4px 7px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #111213;
}

.container-remeras {
    min-height: 250px;
    max-height: 250px;
    min-width: 200px;
    max-width: 200px;
}

.remeras {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #222222;
    height: 100px;
    color: #fff;
    margin-top: auto;
    gap: 10px;
    border-top: 1px solid rgba(255, 255, 255, .4);
}

footer i {
    font-size: larger;
}

.boton-comprar{
    margin: auto;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 30px;
    background-color: #999;
    color: #fff;
    border: 1px solid #111213bd;
    border-radius: 16px;
    transition: .3s;
    cursor: pointer; 
}

.boton-comprar:hover {
    background: #389f55;
    color: #fff;
}
